<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>H1 text</h1>
    <h6>H6 text</h6>
    <p>paragraph</p>
    <div>block in <span style="color: aqua;">Mobile</span></div>
    <a href="https://google.com" target="_blank">Meow</a>
    <ul>
        <li>item1</li>
        <li>item2</li>
    </ul>
    <ol>
        <li>item1</li>
    </ol>
    <form action="/action" method="post">
        <input type="text" placeholder="text" value="12345">
        <textarea required placeholder="textarea">1234</textarea>
        <button>Push</button>
    </form>

</body>
</html>
